@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
  background-image: url("images/bg-intro-mobile.png");
  background-size: cover;
  background-color: hsl(0, 100%, 74%);
  background-blend-mode: multiply;
}

* {
  font-family: "Poppins", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: center;
  padding-bottom: 100px;
}

.grid-container div {
  text-align: center;
}

.text {
  padding: 50px 10px;
}

.text p,
button {
  color: hsl(0, 0%, 100%);
}

.text p:first-of-type {
  font-size: 2rem;
}

.text p:last-of-type {
  font-size: 1rem;
}

#blue-button {
  background-color: hsl(248, 32%, 49%);
  width: 95%;
  padding: 20px 50px;
  margin-bottom: 20px;
}

#green-button {
  background-color: hsl(154, 59%, 51%);
  width: 100%;
  margin-top: 10px;
  text-transform: uppercase;
}

#green-button,
form {
  padding: 20px;
}

form {
  background-color: hsl(0, 0%, 100%);
  margin: 0 10px;
}

form > p {
  color: hsl(246, 25%, 77%);
  font-size: 0.1rem;
  margin-top: 20px;
}

p > a {
  color: hsl(0, 100%, 74%);
}

p > a,
input,
input::placeholder,
.text p:first-of-type {
  font-weight: 600;
}

input {
  padding: 15px;
  width: 90%;
  margin: 10px 0;
  border: 1px solid rgb(205, 203, 203);
}

input::placeholder {
  color: hsl(249, 10%, 26%);
}

button {
  border-style: none;
}

button,
form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input:hover,
button:hover,
a:hover {
  cursor: pointer;
}

form,
input,
button {
  border-radius: 5px;
}

#error-icon {
  display: none;
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url("images/bg-intro-desktop.png");
  }

  .grid-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
}